---
- name: install | check if cozy-couchdb is already installed
  shell: "dpkg -l cozy-couchdb > /dev/null 2> /dev/null"
  changed_when: false
  register: couchdb_installed
  ignore_errors: true

- name: install | cozy-couchdb debconf
  debconf:
    name: couchdb
    question: "{{ item.question }}"
    value: "{{ item.value }}"
    vtype: "{{ item.vtype }}"
  notify: reconfigure_couchdb
  no_log: true
  with_items:
    - { "question": "couchdb/mode", "vtype": "select", "value": "{{ couchdb_mode }}" }
    - { "question": "couchdb/bindaddress", "vtype": "string", "value": "{{ couchdb_bind_address }}" }
    - { "question": "couchdb/adminpass", "vtype": "password", "value": "{{ couchdb_admin_password }}" }
    - { "question": "couchdb/adminpass_again", "vtype": "password", "value": "{{ couchdb_admin_password }}" }
  when: couchdb_installed|failed

- name: install | install cozy-couchdb
  apt:
    name: cozy-couchdb
    state: present
    update_cache: yes
  when: couchdb_installed
