---
- name: Start service couchdb
  service:
    name: couchdb
    state: started
  tags:
    - role::couchdb

- name: Make sure Couchdb is responding on the configured port
  wait_for:
    port: 5984
    delay: 3
    timeout: 90
  tags:
    - role::couchdb
