# {{ ansible_managed }}
[Unit]
Description=Cozy service
Requires=couchdb.service

[Service]
Type=simple
User=cozy
ExecStart=/usr/local/bin/cozy-stack serve --log-level info --host 0.0.0.0
Restart=on-failure
RestartSec=10